 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>DataScience Stack</h2>
      <i class="devicon-tensorflow-original"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain colored"></i>
      <p>MLOps · KG · RAG · NLP · GenAI. Stack: TensorFlow · Pytorch · SparkNLP HealthcareNLP · LangChain. ETL development · Databases: MySQL · MongoDB · RDF · SPARQL</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-scala-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-r-original"></i>
      <p>Languages: Python · R · Scala · Shell · Perl · Apache Spark SQL · GraphX. Frameworks and containerization: Docker · Flask · Orchestration: Apache Airflow · Oozie · Nextflow</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Bionformatics tools and pipelines: Epigenomics · Transcriptomics · Metagenomics · Genomics. Interactive Data Visualization: Shiny · Plotly · Mathematical Modelling. Ontologies and Medical Terminologies: SNOMED-CT · UMLS · OMOP</p>
    </div>
</div>
