<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="aipneu" src="{{ "/assets/img/aipneu.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Pneumonia-identification-from-X-Ray-images </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Code implementing Spark-based machine learning models for classification of X-Ray images from a Pediatric Chest X-Ray Image dataset, with the purpose of predicting Pneumonia in patients. More specifically, these models are implemented using the high level pyspark interfaces and BigDL as a platform to develop scalable deep learning applications</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ocr" src="{{ "/assets/img/ocr.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> OCR and webscraping in Spanish old newspapers</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Project performing webscraping of HTML with ancestry information</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
